@import "tailwindcss";

@theme {
    --color-navy: #101B2D;
    --color-white: #D7DCEA;
    --color-teal: #33D6A6;
    --color-cream: #878672;
    --font-serif: "Fraunces", serif;
    --font-sans: "Inter", sans-serif;
}