---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About">
	<p class="max-w-xl leading-relaxed">
		[filler] short bio, mission statement, photo gallery, causes & press releases
	</p>
</BaseLayout>
