---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Art">
	<p class="max-w-xl leading-relaxed">
		[filler] gallery of art pieces w/ dates & titles & medium
	</p>
</BaseLayout>
