---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Experience">
	<p class="max-w-xl leading-relaxed">
		[filler] experience? basically career roles
        companies ive worked for & what ive done
        mimic what gazi did in her experience section
        job title, for whom, date, etc.
	</p>
</BaseLayout>
