---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Greenhaven">
	<p class="max-w-xl leading-relaxed">
		[filler] explain what it is / means to me, spotlight impact, link off to company site
	</p>
</BaseLayout>
