---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Projects">
	<p class="max-w-xl leading-relaxed">
		[filler] i like to keep busy & build things
        here's some of them
        a gallery of my project similar to sam's page
        where you can open each one
	</p>
</BaseLayout>
