---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Yale">
	<p class="max-w-xl leading-relaxed">
		[filler] the clubs im in & what imapact ive had
        any relevant links or videos or posts from insta
	</p>
</BaseLayout>
